*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_content{
    display: flex;
    align-items: center;
    height: 100vh;
}
.container{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}
.banner_text{
    width: 500px;
}
.banner_text h3{
    font-size: 50px;
}
.banner_text h1{
    font-size: 80px;
    line-height: 80px;
    font-weight: 900;
    margin-top: 20px;
}
.banner_text p{
    font-size: 25px;
    font-weight: 400px;
    margin-top: 20px;
}
.navbar{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar_text{
    display: flex;
    height: 60px;
    align-items: center;
    width:1200px;
    margin: 0 auto;
}
.logo{
    width: 40%;
}
.logo img{
    width: 220px;
}
.navbar_ul{
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.navbar_ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    text-transform: capitalize;
    font-weight: 800;
}
.btn{
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 12px;
    padding: 20px 40px;

}
.banner_btn{
 margin-top: 35px;
}
.btn_smart{
    background: rgb(255, 69, 79);

}
.about{
    padding: 80px 0;

}
.p-25{
    padding: 45px;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.col-3{
    width:25%;
}
.col-4{
    width: 33.3333333%;
}
.about h3{
    color: rgba(37, 37, 37, 0.2);
    font-size: 30px;
    margin-top: 12px;
    font-weight: 700;
}

.about h1{
    font-size: 18px;
    color: #252525;
    font-weight: 700;
    line-height: 40px;
    margin-bottom:15px;

}
.about p{
    font-size: 18px;
    color: #8b8b8b;
    font-weight: 300;
}
.about_btn{
    margin-top: 35px;
}
.about_img{
    width: 100%;
    overflow: hidden;
}
.about_img img{
    width: 100%;
}
.shop {
    width: 100%;
    background: url(./img/shop.jpg);
    height: 450px;
    background-attachment: fixed;

}
.shop_text{
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  color: #fff;
}
.shop_text h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 600px;
    font-style: normal;
    letter-spacing: 0.5px;
}
.shop_btn{
    margin-top: 35px;
}
.clients{
    background:url(./img/bg.jpg);
    width: 100%;
    padding: 80px 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:#fff;
}
.client{
    text-align:center;
}
.clients h1{
    font-style: 45px;

}
.clients p{
    font-style: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.prices{
  width: 100%;
  padding: 80px 0;
  color: rgb(155, 125, 125);
  
}
.price{
    padding:20px;
    text-align: center;
}
.price_img{
    width: 100%;
}
.price_img img{
    width: 250px;
}
.price_heading{
    margin-top: 20px;
    font-size: 25px;
    color: brown;

}
.price_txt{
    margin-top: 18px;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
}
.price_rs{
    margin-top: 15px;
    font-size: 30px;
    color: #000;
}

@media(max-width:700px){
    .navbar_text{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        width:100%;
        margin: 0 auto;

    }
    .logo{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container{
        width: 100%;
        padding: 0 30px;

    }
    .banner_text{
        width: auto;
    }
    .banner_text h3{
        font-size: 25px !important;
    }
    .banner_text h1{
        font-size: 40px;
        line-height: 60px;
        font-weight: 900;
        margin-top: 20px;
    }
    .banner_text p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    }
    .navbar_ul{
        width: 100%;
        justify-content: center;
    }
    .navbar_ul li a{
        text-decoration: none;
        color: #fff;
        padding: 0 10px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .col-3,.col-4,.col-6{
        width: 100%;
    }
    .client{
        margin: 20px 0;
    }
    .about h1{
        font-size: 25px;
    }
    .shop h1{
        font-size: 25px;
    }
    .menu h1{
        font-size:25px;
    }
}
